//
   Created by guoxc on 14-3-17.
extends sidebar_layout
block main
  div.header
      h2 #{name}
  div.content
    div
      h3 表达式:
      p #{expression}
    div
      h3 用途描述:
      p #{describe}
    div
      h3 参考网址:
      table.pure-table
        thead
          tr
            th #
            th source
        tbody
          each val, index in ref
            tr
              td #{index}
              td: a(href=val.link,target='_blank') #{val.sitename}
    div
      if compare
        h3 相关的正则表达式
        ol
          each val, index in compare
            li: a(href=val.link) #{val.name}
    div
      if matches
        h3 可以匹配的例子
        ol
          each val in matches
            li: p #{val}
      if notmatches
        h3 不能匹配的例子
        ol
          each val in notmatches
            li: p #{val}