//
   Created by guoxc on 14-3-17.
extends sidebar_layout
block main
  div.header
      h2 #{name}
  div.content
    div
      h3 表达式:
      pre.regexp
        code.regex !{expression}
        span.pull-right
          button.pure-button.button-small#copy-button(data-clipboard-text="!{expression}") Copy
    div
      h3 用途描述:
      p #{describe}
    div
      h4 测试一下:
      div#test_regex.pure-form
        div#test_regex_1
          textarea#test
        div#test_regex_2
          p: button#test_submit.pure-button(type='button') 匹配
        div#test_regex_3
          textarea#test_result
        div.clearfix
    div
      h3 参考网址:
      table.pure-table
        thead
          tr
            th #
            th source
        tbody
          each val, index in ref
            tr
              td #{index}
              td: a(href=val.link,target='_blank') #{val.sitename}
    div
      if compare
        h3 相关的正则表达式
        ol
          each val, index in compare
            li: a(href=val.link) #{val.name}
    div
      if matches
        h3 可以匹配的例子
        ol
          each val in matches
            li: p #{val}
      if notmatches
        h3 不能匹配的例子
        ol
          each val in notmatches
            li: p #{val}

block script
  script(type='text/javascript',src='/javascripts/regex-colorizer.js')

  script(src="/javascripts/ZeroClipboard.min.js")
  script(type='text/javascript').
    var regex_str = $("code.regex").html();
    RegexColorizer.colorizeAll();
    var regex = new RegExp(regex_str,"g");
    $("#test_submit").on("click",function(){
        var test_string = $("#test").val();
        $("#test_result").val(test_string.match(regex).join("\n"));
    });
    var client = new ZeroClipboard( document.getElementById("copy-button"), {
        moviePath: "/javascripts/ZeroClipboard.swf"
    });
    client.on("load", function(client) {
        client.on( "complete", function(client, args) {
            alert("已经复制表达式到剪贴板!");
        });
    });